.paddingAround {
  padding: 0 30px;
}

.pushContent {
  height: 250px;
  width: 100%;
}

.sloganWrapper {
  margin-top: 70px;
  display: flex;
  flex-direction: row-reverse;
}

.slogan {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  padding-left: 10%;
  margin-right: 30px;
}

.people {
  max-height: 700px;
}

.slogan h1 {
  font-size: 48px;
}

.slogan p {
  margin: 50px 0;
  max-width: 450px;
  font-size: 20px;
  position: relative;
}

.slogan h1:nth-child(2) {
  position: relative;
}

.slogan h1:nth-child(2)::after {
  content: "";
  width: 100px;
  background-color: #ffc74c;
  height: 5px;
  position: absolute;
  left: 0;
  bottom: -20px;
}

.pitch {
  margin-top: 200px;
  text-align: center;
}

.pitch h1 {
  font-size: 42px;
  position: relative;
}

.pitch h1::after {
  content: "";
  width: 100px;
  background-color: #ffc74c;
  height: 5px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.offers {
  display: flex;
  margin-top: 80px;
  justify-content: center;
  align-items: center;
}

.offer {
  max-width: 500px;
  margin: 25px 50px;
}

.offer img {
  margin: 20px;
  max-width: 300px;
}

.offer p {
  font-size: 18px;
  max-width: 400px;
  margin-top: 20px;
}

.footer {
  clear: both;
  height: 200px;
  width: 100vw;
  background-image: linear-gradient(
    to right,
    rgba(138, 195, 255, 73%),
    rgba(106, 143, 242, 59%)
  );
}

.jelly {
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.jellyWrapper {
  min-height: 1500px;
  margin-top: 150px;
  padding-top: 150px;
  text-align: center;
  position: relative;
}

.jellyWrapper::after {
  overflow: hidden;
}

.joinProject.card {
  margin: 0 5%;
  padding-bottom: 60px;
}

.joinProject h1 {
  position: relative;
}

.joinProject h1 {
  margin-top: 40px;
}

.joinProject h4 {
  font-size: 16px;
  line-height: 19px;

  color: #fe6348;
}

.card {
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  margin: 15px;
  padding: 15px;
}

.card--project {
  text-align: left;
  cursor: pointer;
}

.card--project p {
  font-size: 16px;
}

.faqs {
  font-size: 18px;
  margin-top: 50px;
  font-weight: 400;
  color: black;
}

.faqs a {
  color: black;
  text-decoration: underline;
}

.cards {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  max-width: 1240px;
}

.cardImg {
  background-image: url("./assets/blood-donation.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
}

.cardImg--two {
  background-image: url("./assets/ocean-cleanup.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
}

.cardImg--three {
  background-image: url("./assets/teach-kids.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
}

.cardImg--four {
  background-image: url("./assets/tree-planting.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
}

.cardImgPath--wave {
  position: relative;
  top: -23px;
}

.cardImgPath--valley {
  top: -10px;
  position: relative;
}

.howItWorks {
  text-align: center;
}

.howItWorks h2 {
  font-size: 30px;
  margin: 150px auto 80px auto;
  color: black;
}

.howItWorksSteps {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-around;
}

.howItWorksStep h1 {
  color: #ffc74c;
  font-size: 60px;
}

.howItWorksStep p {
  color: black;
  font-size: 24px;
  max-width: 300px;
}

.card--project .employeesJoined {
  margin-bottom: 0;
  font-size: 14px;
}

.proposeProject {
  text-align: center;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proposeProject h1 {
}

.proposeProject p {
  margin-top: 70px;
  max-width: 650px;
}

.proposeProject button {
  margin-top: 50px;
  width: 290px;
  height: 45px;
  border: 0;
  color: white;
  font-size: 18px;
  background: #fe6348;
  border-radius: 6px;
}

.workers {
  margin-top: 150px;
  height: 300px;
  position: relative;
  right: 0;
  float: right;
  right: 50px;
}
