.App {
  text-align: center;
  display:block;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.wrapper{
  height: 100vh;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/smiles-ai-images/o/aaaa.png?alt=media&token=f3e02914-dfba-410e-9455-3848f565f883);
  background-size: cover;
  background-repeat: no-repeat;
}
.logo {
  height: 20px;
  width: 120px;
}

.logo img {

  height: 20px;

}

.sApp-header {
  background-color: white;
  min-height: 100vh;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.body-content {
  display: block;
  height: 80%;
  margin-left: 550px;
  /* background-color: red; */

}

.text2 {
  position: relative;
  padding-top: 300px;
  font-family: Helvetica, sans-serif;
  color: black;
  font-weight: bold;
  font-size: 46px;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.column {
  float: left;
  width: 33.33%;
  margin-top: 40px;
  margin-bottom: 40px;
}

 /* Clear floats after the columns */
 .row:after {
  content: "";
  display: table;
  clear: both;
 }