@import url("https://rsms.me/inter/inter.css");
html,
body,
#root {
  font-family: "Inter", sans-serif !important;
}
@supports (font-variation-settings: normal) {
  html,
  body,
  #root {
    font-family: "Inter var", sans-serif !important;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body,
html,
#root {
  height: 100%;
  overflow-x: hidden;
}

a {
  cursor: pointer;
}

#modal-root {
  position: relative;
  z-index: 999;
}

.modall {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4 {
  color: #03216b;
}

.description {
  color: #666666;
}

.content {
  display: block;
  max-width: 1440px;
  margin: auto;
  position: relative;
}

.yellowUnderline {
  position: relative;
}

.yellowUnderline::after {
  content: "";
  width: 100px;
  background-color: #ffc74c;
  height: 5px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
